{{ define "main" }}
<section>
  <header>
    {{ if .IsHome }}
    {{ partial "home-header.html" . }}
    {{ else }}
    {{ partial "list-header.html" . }}
    {{ end }}
  </header>
  {{ $pages := .Paginator.Pages }}
  {{ if .IsHome }}
  {{ $pages = first 3 (where site.RegularPages "Type" "in" site.Params.mainSections) }}
  {{ end }}
  {{ range $pages }}
  <div>
    <a href="{{ .Permalink }}">
      <h2>{{ .Title }}</h2>
    </a>
    {{ partial "date.html" . }}
  </div>
  {{ .Summary }}
  {{ end }}
  {{ if (not .IsHome) }}
  <nav id="pagination">
    {{ template "_internal/pagination.html" . }}
  </nav>
  {{ end }}
</section>
{{ end }}